<section class="content-box content-box--aside content-box--{$theme} articlesBox" n:if="!empty($posts)">
	{include ../components/shape.latte name => rect, class => "content-box__background"}
	<a n:tag="empty($link) ? 'span'" class="label label--{$theme}" href="{$link}" target="_blank" rel="noreferrer">{$title}</a>
	<article class="content content-box__post" n:foreach="$posts as $post">
		<a href="{$post[link]}" target="_blank" rel="noreferrer">
			{$post[content]}
		</a>
	</article>
</section>
