{default $label = null}
{default $class = null}
{default $style = "call"}
{default $tag = 'a'}
{default $attrs = []}


<{$tag} class="button button--{$style} {$class}" {$attrs|attrs}>
	{include ../components/shape.latte name => rect, class => "button__background"}
	<span class="link button__link"">{$label|noescape}</a>
</{$tag}>
