<footer class="entry-footer">
    <span class="category-links">
        {get_the_category()}
    <span.tag-links
        - the_tags()
    - if (comments_open()):
        span.meta-sep!='|'
        span.comments-link
            a(href=get_comments_link())='Comments'
    - endif
