.button {
	display: inline-block;
	position: relative;
	margin: 0.1em 0.2em;
	cursor: pointer;
	outline: none;
	font-size: @base-font-size;
	font-family: @font-themix;
	font-weight: bold;

	&__background {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		stroke: @first;
		fill: @first;
	}

	&__link {
		position: relative;
		display: block;
		z-index: 5;
		color: fade(@blank, 80%);
		text-align: center;
		letter-spacing: 0.05em;
		margin: 0;
		padding: 0.6em 1em;
		stroke: @second;
		fill: none;
	}

	&__icon {
		width: 1.2rem;
		height: 1.2rem;
		margin: -0.2rem;
	}

	&__arrow {
		font-family: @font-skautbold;
		font-style: normal;
	}

	&:hover &__link {
		color: @blank;
	}

	&--call & {
		&__background {
			fill: @third;
			stroke: @third;
		}
	}

	&--inv & {
		&__link {
			color: @first;
		}

		&__background {
			fill: @second;
			stroke: @second;
		}
	}

	&--small {
		font-size: 0.8em;
	}
}
