.logotype{
	z-index: 10;
	display: block;

	&__logo{
		display: block;
		margin: 0 auto;
		max-width: 100%;
		height: 20vw;
		max-height: 150px;
	}

	&__background {
		display: none;
	}

	&-toggler {
		position: absolute;
		bottom: 18%;
		left: 22.7%;
		width: 4%;
		height: 12%;
	}


	@media @media-m-max {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 60px;
		max-width: 12rem;

		&__logo {
			width: 80%;
			height: 80%;
			margin: 10%;
		}

		&__background {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			fill: @second;
		}
	}
}
