.thumbnail {
	display: block;
	position: relative;
	background-color: @third;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0 1rem 1rem 0;

	&__frame {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 5;
		width: 102%;
		height: 104%;
		margin: -1%;
		fill: @second;
		transition: fill 300ms;

		&--fb {
			fill: @facebookBackground;
		}
	}

	&__container {
		position: relative;
		display: inline-block;
	}

	&__remover {
		visibility: hidden;
		cursor: pointer;
		color: @third;
		text-align: center;

		&.is-active {
			visibility: visible
		}
	}

	&__icon {
		position: relative;
		top: 20%;
		left: 30%;
		width: 40%;
		fill: @first;
	}


	@media @media-s-min {
		&__frame {
			.is-sticky & {
				fill: @highlighted;
			}
		}
	}
}
