<!DOCTYPE html>

{default $activeLang = get_active_lang_code()}

<html lang="{$activeLang}">
<head>
	{include ../components/gtm/head.latte}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<title>{site_title()}</title>

	<meta name="description" content="{get_bloginfo('description')|noescape}">

	{use_google_fonts([ 'Open+Sans:400,400i,700,700i&amp;subset=latin-ext'])}

	{var $stylesheet = !empty($_COOKIE['style']) ? explode(' ', $_COOKIE['style'])[0] : 'first'}
	<link id="main-stylesheet" rel="stylesheet" href="{$assetsPath}/styles/{$buildstamp|noescape}{$stylesheet}.css" media="screen">

	<link id="main-icon" rel="shortcut icon" type="image/x-icon" href="{$assetsPath}/images/favicon-{$stylesheet}.png">

	{php global $wp}
	{if !empty($wp->request)}
		{var $currentUrl = home_url(add_query_arg(array(),$wp->request))}
	{else}
		{var $currentUrl = home_url()}
	{/if}
	<meta property="og:title" content="{site_title()}">
	<meta property="og:url" content="{$currentUrl}">
	<meta property="og:type" content="article">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="630">
	<meta name="twitter:card" content="summary_large_image">


	{if is_single() && has_post_thumbnail()}
		{var $thumbnail = wp_get_attachment_url( get_post_thumbnail_id($post->ID), 'og')}
		<meta property="og:image" content="{$thumbnail}">
		{var $content = wp_strip_all_tags($post->post_content)}
		{var $position = strpos($content, ' ', 200)}
		{var $excerpt = substr($content, 0, $position) . '…'}
		<meta property="og:description" content="{$excerpt}">
	{else}
		<meta property="og:image" content="{get_template_directory_uri()}/dist/images/logo-og.png">
		<meta property="og:description" content="{bloginfo("description")}">
	{/if}

	  <link rel="preload" href="{$assetsPath}/sprites/{$buildstamp|noescape}shapes-critical.svg" as="style">


	{block head}{/block}


	<!--[if lt IE 9]>
	<link rel="stylesheet" href="{$assetsPath}/styles/{$buildstamp|noescape}oldie.css" media="screen">
	<script src="{$assetsPath}/node_modules/lt-ie-9/lt-ie-9.min.js"></script>
	<![endif]-->

	<script>
		initComponents = [
			{ name: 'shapes', data: { url: {$assetsPath}+'/sprites/{$buildstamp|noescape}shapes.svg' } },
			{ name: 'colorswitcher', place: 'body' },
			{ name: 'logoswitcher', place: 'body' }
		]
	</script>

	{wp_head()}

</head>
<body>
	{include ../components/gtm/body.latte}

	{$mangoSnippet}

	{block top}{/block}

	<div class="container">
		{include ../components/shape.latte name => border-top, class => "container__border container__border--top", critical => true}


		{block content}{/block}

		{include ../components/shape.latte name => border-bottom, class => "container__border container__border--bottom", critical => true}

		<div class="color-switcher" id="color-switcher">
			<button n:class="color-switcher-button, first, $stylesheet=='first' ? 'active'" title="first"
				data-stylesheet="{$assetsPath}/styles/first.css"
				data-icon="{$assetsPath}/images/favicon-first.png">
			</button>
			<button n:class="color-switcher-button, second, $stylesheet=='second' ? 'active'" title="second"
				data-stylesheet="{$assetsPath}/styles/second.css"
				data-icon="{$assetsPath}/images/favicon-second.png">
			</button>
			<button n:class="color-switcher-button, third, $stylesheet=='third' ? 'active'" title="third"
				data-stylesheet="{$assetsPath}/styles/third.css"
				data-icon="{$assetsPath}/images/favicon-third.png">
			</button>
		</div>
	</div>

	{include ../parts/footer.latte}

	{block bottom}{/block}

	{block scripts}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" defer></script>
		<script src="{$assetsPath}/scripts/{$buildstamp|noescape}index.js" defer></script>
	{/block}

	{wp_footer()}

</body>
</html>
