{extends default.latte}

{block content}
  <div class="row">
    <main class="main grid-xs-24 grid-s-20 grid-s-offset-2 grid-l-20 grid-l-offset-2" role="main">
      {block main}{/block}
    </main>
  </div>
  <div class="clearfix"></div>
