{extends default.latte}

{block #content}
	<div class="row">
		<main class="main grid-xs-24 grid-s-20 grid-s-offset-2 grid-l-16 grid-l-offset-0" role="main">
			{block main}{/block}
		</main>

		<aside class="aside grid-xs-24 grid-s-20 grid-s-offset-2 grid-l-8 grid-l-offset-0">
			{block aside}{/block}
		</aside>

		<div class="clearfix"></div>
	</div>


