- $classes .= (is_single()||is_page()) ? ' single' : null;
article.post.content-box__post.content(class= '<?php echo $classes; ?>')

    //- THUMBNAIL

    - if($thumb = wp_get_attachment_image_src( get_post_thumbnail_id($post->ID), 'post_thumb')[0]):
        - if (is_single()||is_page()):
            figure.thumbnail.content__thumbnail(style='background-image: url('+ $thumb + ')')
                svg.thumbnail__frame
                    use(xlink:href='#frame')
        - else:
            a.link(href=esc_url( get_permalink() ))
                figure.thumbnail.content__thumbnail(style='background-image: url('+ $thumb + ')')
                    svg.thumbnail__frame
                        use(xlink:href='#frame')
        - endif
    - endif

    //- TITLE

    - if (is_single()):
        h1.title.title--medium.content__title
            a.link(href=esc_url( get_permalink() ))
                - the_title()
    - elseif (is_page):
    - else:
        h2.title.content__title
            a.link(href=esc_url( get_permalink() ))
                - the_title()
    - endif

    //- META

    - if (!is_page()):
        p.date.content__date
            - the_time( get_option( 'date_format' ) )
            = ' | '
            - the_author()
    - endif

    //- EXCERPT

    - if (is_single()||is_page()):
      - if (has_excerpt(get_the_ID())):
        .excerpt.text.content__excerpt
          - the_excerpt()
      - endif
    - else:
      .excerpt.text.content__excerpt
        - the_excerpt()
    - endif

    //- CONTENT

    - if (is_single()||is_page()):
        .text.content__text
            - the_content()
    - endif

