article(id!=the_ID(), class!=post_class())
    header
        - if (is_singular()):
            h1.entry-title
                a(href!=the_permalink(), title!=the_title_attribute(), rel="bookmark")
                    - the_title();
        - else:
            h2.entry-title
                a(href!=the_permalink(), title!=the_title_attribute(), rel="bookmark")
                    - the_title();
        - endif

    - if (is_archive()):
        include summary
    - elseif (is_search()):
        include content
    - endif

    - if (!is_search()):
        include footer
    - endif
