prefix: praha_

register:
	related:
		title: Zobrazení
		post_types: page
		context: side
		fields:
			taxonomy:
				name: Kategorie
				type: taxonomy_advanced
			hide_title:
				name: Skrýt nadpis
				type: checkbox
			full_width_content:
				name: Plná šířka obsahu
				type: checkbox
