.main-nav{
  &__items{
    text-align: center;
  }
  &__item{
    display: inline-block;
    margin: 0.1em;
    svg{
      use{
        fill: @second
      }
    }
    a{
      color: @blank;
    }
  }
}

