.main-nav {
  position: fixed;
  right: -85vw;
  z-index: 50;
  top: 0;
  background: @first;
  width: 85vw;
  height: 100vh;
  transition: right 300ms;

  .search-form {
    display: block;
    margin: 1rem 1rem 0;
  }

  &__check:checked ~ & {
    right: 0;
    transform: none;
  }

  &__items {
    position: absolute;
    left: 0;
    overflow: scroll;
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 30px 20px;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: @first;
  }

  &__item {
    position: relative;

    &__background {
      display: none;
      position: absolute;
      top: 20%;
      left: 0;
      width: 100%;
      height: 60%;

      use {
        fill: @second;
      }
    }

    &__link {
      position: relative;
      z-index: 1;
      color: @second;
      padding: 1em;
      font-size: 1.4rem;
    }

    &__icon {
      width: 1.2rem;
      height: 1.2rem;
      margin: -0.2rem;

      use {
        fill: none;
        stroke: @second;
      }
    }

    &.active, &:hover {
      .main-nav__item {
        &__background {
          display: block;
        }

        &__link {
          color: @first;
        }

        &__icon {
          use {
            stroke: @first;
          }
        }
      }
    }
  }

  @media @media-m-min {
    position: relative;
    right: 0;
    height: auto;
    width: 100%;
    transform: none;
    background: none;

    .search-form {
      display: none;
    }

    &__items {
      position: relative;
      overflow: auto;
      background: transparent;
      text-align: center;
      width: auto;
      margin: 0 auto;
      padding: 0 0.7rem;
    }

    &__item {
      display: inline-block;
      margin: 0;

      &__link {
        display: block;
        font-size: 1rem;
        padding: 0.6em 1em;
      }
    }
  }
}
