.main-nav{
  margin: 1rem 1rem 0;
  &__items{
    text-align: center;
    margin: 0;
    padding: 0;
    .button__link {
      padding: 0.6em 0.8em;
    }
  }
  &__item{
    display: inline-block;
  }
}

