extends layouts/with-sidebar

block main
  h1.title.title--medium='Tady to co hledáte není'

  .search-line
    p.title.title--wrapper='Zkuste hledat dál:'
    include components/search-form

  p.title.title--wrapper='Nebo se podívejte na nejnovější příspěvky:'

  - query_posts( array('post_type' => array('event', 'post'), 'showposts' => 6))
  include parts/wrapper
