extends layouts/one-column

block main
    - if (have_posts()):
        - while (have_posts()):
            - the_post();
            - $thumb = wp_get_attachment_url( get_post_thumbnail_id($post->ID))
            - $classes = get_post_type()
            - if(!empty($thumb)):
                - $classes .= ' thumb'
            - endif
            - $classes .= (is_single()||is_page()) ? ' single' : null;
            article.post.content-box__post.content.event(class= '<?php echo $classes; ?>')

                a.link(href=esc_url( get_permalink() ))
                    figure.thumbnail.content__thumbnail
                        svg.thumbnail__frame
                            use(xlink:href='#rect')
                        p.thumbnail__text=date('j. n.', strtotime(get_post_meta(get_the_ID(), 'praha_start_date', true)))
                            i.thumbnail__subtext
                                - switch(date('D', strtotime(get_post_meta(get_the_ID(), 'praha_start_date', true)))):
                                - case 'Mon': echo 'pondělí'; break
                                - case 'Tue': echo 'úterý'; break
                                - case 'Wed': echo 'středa'; break
                                - case 'Thu': echo 'čtvrtek'; break
                                - case 'Fri': echo 'pátek'; break
                                - case 'Sat': echo 'sobota'; break
                                - case 'Sun': echo 'neděle'; break
                                - endswitch


                h2.title.title--medium.content__title
                    a.link(href=esc_url( get_permalink() ))
                        - the_title()
                p.content__subtitle
                    svg.content__icon
                        use(xlink:href='#location')
                    = get_post_meta(get_the_ID(), 'praha_position', true)

                - if (is_single()||is_page()):
                    - if (has_excerpt(get_the_ID())):
                        .excerpt.text.content__excerpt
                            - the_excerpt()
                    - endif
                - else:
                    .excerpt.text.content__excerpt
                        - the_excerpt()
                - endif

        - endwhile
    - else:
        ='Nejsou naplánované, žádné akce.'
    - endif;

