extends layouts/default


block main
    - query_posts( array('post_type' => array('event', 'post'), 'showposts' => 6))
    include parts/wrapper

block aside
    a.label.label--first(href='https://krizovatka.skaut.cz', targer='_blank') Novinky ze skautské křižovatky
    - query_posts( array('post_type' => array('krizovatka'), 'showposts' => 6))
    include parts/wrapper

    a.label.label--facebook(href='https://krizovatka.skaut.cz', targer='_blank') Z našeho facebooku
    aside.content-box.content-box--aside.content-box--fb.grid-s-24
        - $fb_posts = fb_get_last_posts(5)
            - foreach($fb_posts as $fb_post):
                - cdd($fb_post)
                article.excerpt.excerpt--fb(class=$fb_post['post_type'])
                    p.autor.excerpt__autor
                        - print esc_html($fb_post['author_name'])
                    p.date.excerpt__date
                        - print date(get_option('date_format'), strtotime($fb_post['created_time']))
                    p.text.excerpt__text
                        - print esc_html($fb_post['message'])
                    .button.excerpt__button(href=$fb_post['permalink'])
                        svg.button__background
                            |<use xlink:href='#shape-<?php echo rand(1, 3) ?>'></use>
                        a.link.button__link(href=$fb_post['permalink'], target='_blank')
                            | Číst dál &nbsp;
            - endforeach
