extends layouts/two-column


block main
    - query_posts( array('post_type' => array('event', 'post'), 'showposts' => 6))
    include parts/wrapper

block aside
    section.content-box.content-box--aside.content-box--krizovatka
        svg.content-box__background
            use(xlink:href='#rect')
        //svg.content-box__background.content-box__background--shadow
        //    use(xlink:href='#rect')
        a.label.label--first(href='https://facebook.com/skautipraha', targer='_blank') Novinky ze skautské křižovatky
        - query_posts( array('post_type' => array('krizovatka'), 'showposts' => 5))
        include parts/wrapper--aside

    section.content-box.content-box--aside.content-box--fb.grid-s-24
        svg.content-box__background
            use(xlink:href='#rect')
        //svg.content-box__background.content-box__background--shadow
        //    use(xlink:href='#rect')
        a.label.label--facebook(href='https://facebook.com/skautipraha', targer='_blank') Z našeho facebooku
        - query_posts( array('post_type' => array('facebook'), 'showposts' => 5))
        include parts/wrapper--facebook

