extends layouts/one-column

block main
    include parts/wrapper

    - if ($taxonomy = get_post_meta(get_the_ID(), 'praha_taxonomy', true)) :
        - query_posts(array('cat' => $taxonomy))
        include parts/wrapper
    - endif

