extends layouts/default

block main
    - if (have_posts()):
        - while (have_posts()):
            - the_post()
            - cdd('here')
            include parts/entry/content
        - if (!post_password_required()) comments_template( '', true )
        - endwhile
    - endif
    footer
        include components/paginator-single
