extends default

block content
  .container
    .row
      main.main.grid-xs-24.grid-s-20.grid-s-offset-2.grid-l-15.grid-l-offset-0(role="main")
        block main

      aside.aside.grid-s-24.grid-s-20.grid-s-offset-2.grid-l-8.grid-l-offset-0
        block aside
