extends two-column

block top
  - if (isset($_GET['modal']) && $_GET['modal']):
    input#addPost.modal__check(type='checkbox', checked='checked')
  - else:
    input#addPost.modal__check(type='checkbox')
  - endif

  include ../parts/add-post
  label.modal__outside(for='addPost')

block main

block aside
  form.search-form(role='search', method='get', action=esc_url(home_url('/')))
    svg.search-form__background
      use(xlink:href='#rect')
    input.search-form__input(type='search', placeholder='Hledat', value=$_GET['s'], name='s')
    label.search-form__button(for='search-submit')
      svg.search-form__icon
        use(xlink:href='#search')
    input#search-submit.search-form__submit(type='submit',value='Hledat')

  .button.button--call.modal__button
    svg.button__background
      use(xlink:href='#rect')
    label.link.button__link.modal__label(for='addPost')
      ='Přidat příspěvek'

  section.content-box.content-box--aside.content-box--fb.grid-s-24
    svg.content-box__background
      use(xlink:href='#rect')
    a.label.label--facebook(href='https://facebook.com/skautipraha', targer='_blank') Z našeho facebooku
    - query_posts( array('post_type' => array('facebook'), 'showposts' => 5))
    include ../parts/wrapper--facebook

  section.content-box.content-box--aside.content-box--krizovatka
    svg.content-box__background
      use(xlink:href='#rect')
    a.label.label--first(href='http://krizovatka.skaut.cz', target='_blank') Novinky ze skautské křižovatky
    - query_posts( array('post_type' => array('rss'), 'showposts' => 5))
    include ../parts/wrapper--aside

