<footer class="footer" role="contentinfo">
  <a class="footer__link" href="http://www.skaut.cz" target="_blank">Junák - český skaut, z. s.</a>,
  <a class="footer__link" href="http://www.dombl.cz" target="_blank">Dominik Bláha</a>,
  <a class="footer__link" href="https://github.com/DNepovim/better-wordpress" target="_blank">GitHub</a>.
</footer>
