    {each}
        {var $thumb = wp_get_attachment_url( get_post_thumbnail_id($post->ID))}
        {var $classes = get_post_type()}
        {if !empty($thumb)}
            {var $classes .= ' thumb'}
        {/if}
        {include entry/content.latte}
    {/each}
{* {else}
    {include entry/error.latte}
{/if}
 *}
