parameters:
	assetsDirname: assets
	assetsDir: %wwwDir%/%assetsDirname%
	wp:
		table_prefix: wp_
	s3:
		enabled: off
		bucket: uploads.mangoweb.org
		region: eu-central-1
		key:
		secret:

database:
	dsn: 'mysql:host=%database.host%;dbname=%database.database%'
	user: %database.username%
	password: %database.password%
	options:
		lazy: yes

services:
	db: Nette\Database\Context
	mailer: @nette.mailer

mail:
	smtp: true

php:
	date.timezone: Europe/Prague

extensions:
    reCaptcha: ReCaptchaControl\DI\Extension

reCaptcha:
    siteKey: '6LfuARwUAAAAANQpwHBNeFWZwf5jt-1xS8Yy4b0a'
    secretKey: '6LfuARwUAAAAAE0fmOV1BVfV2k3oI-SwYtlKOGIu'
    methodName: 'addReCaptcha' # optional
