form#primaryPostForm.form.modal(action=bloginfo('template_directory')+'/post-process.php', method='POST', enctype='multipart/form-data')

  label.cross.form__close(for='addPost')

  h3.title.title--medium.form__title
    - _e('Přidat příspěvek', 'form')

  - if (is_user_logged_in()):
    p.subtitle.form__subtitle
      - $user = get_user_by('ID', wp_get_current_user()->ID)
      ='Jsi přihlášen jako '
      strong.name=$user->display_name
  - else:
    p.subtitle.form__subtitle
      ='Nejsi přihlášen. Tvůj příspěvěk bude přidán až po schválení administrátorem.'
      br
      a(href=wp_login_url('/?modal=true'))='(přihlásit)'
  - endif

  svg.background.form__background
    use(xlink:href='#rect')

  label.form__label(for='postTitle')
    - _e('Titulek:', 'form')
  - if ( !empty($_GET['postTitle']) ):
    span.form__error
      - _e('Titulek musí být vyplněn', 'form')
  - endif
  input#postTitle.required.form__input.form__input--text.form__input--title(type='text', name='postTitle')

  label.form__label(for='postContent')
    - _e('Obsah:', 'form')
  - if ( !empty($_GET['postContent']) ):
    span.form__error
      - _e('Obsah musí být vyplněn', 'form')
  - endif

  - $arg['editor_class'] = 'required form__input form__input--text form__input--textarea'
  - $arg['drag_drop_upload'] = true
  - wp_editor('', 'postContent', array('editor_class' => 'cleass'))

  label.form__label(for='postThumbnail')
    - _e('Náhledový obrázek:', 'form')
  input#postThumbnail.form__input.form__input--upload(type='file', name='postThumbnail', accept='image/gif, image/jpeg, image/png')
  img#img_url(src="", alt="your image")

  - $categories = get_categories(array('hide_empty' => false))
  - foreach ($categories as $category):
    - $id = 'postCategory-' . $category->term_id
    - $value = $category->term_id
    input.form__input.form__input--checkbox(id=$id, type='checkbox', name='postCategory[]', value=$value)
    label.form__label(for=$id)
      = $category->name
  - endforeach

  input#submitted(type='hidden', name='submitted', value='true')

  - wp_nonce_field( 'post_nonce', 'post_nonce_field' )
  button.button.button--call.form__button(type='submit')
    svg.button__background
      use(xlink:href='#rect')
    p.link.button__link
      - _e('Přidat příspěvek', 'form')

