- $args = array('post_type'  => 'fb','showposts'  => 5)
- query_posts( $args)

- if (have_posts()):
  - while (have_posts()):

    - the_post();

    - $classes = get_post_type()
    - $classes .= ' ' . $type

    article.content.content-box__post.facebook(class=$classes)
      != wp_trim_words(get_post_meta($id, 'fptc_message', true), 20)

  - endwhile
- endif
