footer.footer(role="contentinfo")
  a.footer__link(href='http://www.skaut.cz', target='_blank')='Junák - český skaut, z. s.'
  =', '
  a.footer__link(href='http://www.dombl.cz', target='_blank')='Dominik Bláha'
  =', '
  a.footer__link(href='https://github.com/DNepovim/better-wordpress', target='_blank')='GitHub'
  ='.'
- wp_footer();
