header.main-header.row(role='banner')
  a.logotype.grid-s-24.grid-m-10(href='<?php echo esc_url( home_url( '/' ))?>')
    svg.logotype__logo
      use(xlink:href='#logotyp')

  a.silhouette.grid-s-13.grid-s-offset-1(href='<?php echo esc_url( home_url( '/' ))?>')
    svg.silhouette__logo
      use(xlink:href='#silhouette')

  input#menu-check.main-nav__check.hamburger__check(type='checkbox')
  form.search-form(role='search', method='get', action=esc_url(home_url('/')))
    label
      input.search-field(type='search', placeholder=esc_attr_x('Search &hellip;', 'placeholder'), value=get_search_query(), name='s')
      input.search-submit(type='submit',value=esc_attr_x('Search', 'submit button'))
  nav.main-nav.grid-s-24(role='navigation')
    label.hamburger.main-nav__hamburger(for='menu-check')
      span.hamburger__spin.hamburger__spin--1
      span.hamburger__spin.hamburger__spin--2
      span.hamburger__spin.hamburger__spin--3
    - $menu_name = 'main_menu'; //menu slug
    - $locations = get_nav_menu_locations();
    - if (!empty($locations)):
      - $menu = wp_get_nav_menu_object( $locations[ $menu_name ] );
      - $menuitems = wp_get_nav_menu_items( $menu->term_id, array( 'order' => 'DESC' ) );
      ul.main-nav__items
        svg.main-nav__background
          use(xlink:href='#rect')
        - $first = true
        - foreach($menuitems as $item):
          li.main-nav__item.button.button--inv
            a.link.button__link(href='<?php echo $item->url ?>')
              - if ($first):
                svg.button__icon
                  use(xlink:href='#home')
                - $first = false
              - else:
                = $item->title
              - endif;
        - endforeach
    - endif
