header.main-header.row(role="banner")
  a.logotype.grid-s-24.grid-m-10(href='<?php echo esc_url( home_url( "/" ))?>')
    svg.logotype__logo
      use(xlink:href='#logotyp')

  a.silhouette.grid-s-13.grid-s-offset-1(href='<?php echo esc_url( home_url( "/" ))?>')
    svg.silhouette__logo
      use(xlink:href='#silhouette')

  input#menu-check.main-nav__check.hamburger__check(type='checkbox')
  nav.main-nav.grid-s-24(role="navigation")
    label.hamburger.main-nav__hamburger(for='menu-check')
      span.hamburger__spin.hamburger__spin--1
      span.hamburger__spin.hamburger__spin--2
      span.hamburger__spin.hamburger__spin--3
    - $menu_name = 'main_menu'; //menu slug
    - $locations = get_nav_menu_locations();
    - if (!empty($locations)):
      - $menu = wp_get_nav_menu_object( $locations[ $menu_name ] );
      - $menuitems = wp_get_nav_menu_items( $menu->term_id, array( 'order' => 'DESC' ) );
      ul.main-nav__items
        - foreach($menuitems as $item):
          li.main-nav__item.button.button--call
            svg.button__background
              use(xlink:href='#shape-<?php echo rand(1, 3) ?>')
            a.link.button__link(href='<?php echo $item->url ?>')
              - if ($item->post_name == 'domu'):
                svg.button__icon
                  use(xlink:href='#home')
              - else:
                - echo $item->title
              - endif;
        - endforeach
    - endif
