header.main-header(role='banner')
  .row.main-header__row
    .grid-s-24.grid-m-10
      a.logotype(href=esc_url(home_url( '/' )))
        svg.logotype__logo
          use(xlink:href='#logotyp')

    .grid-l-8.grid-l-offset-6
      form.search-form(role='search', method='get', action=esc_url(home_url('/')))
        svg.search-form__background
          use(xlink:href='#rect')
        - if (isset($_GET['s']) && $_GET['s']):
          - $value = $_GET['s']
        - else:
          - $value = ''
        - endif
        input.search-form__input(type='search', placeholder='Hledat', value=$value, name='s')
        label.search-form__button(for='search-submit')
          svg.search-form__icon
            use(xlink:href='#search')
        input#search-submit.search-form__submit(type='submit',value='Hledat')

  .row
    input#menu-check.main-nav__check.hamburger__check(type='checkbox')
    nav.main-nav.grid-s-24(role='navigation')
      label.hamburger.main-nav__hamburger(for='menu-check')
        span.hamburger__spin.hamburger__spin--1
        span.hamburger__spin.hamburger__spin--2
        span.hamburger__spin.hamburger__spin--3
      - $menu_name = 'main_menu'; //menu slug
      - $locations = get_nav_menu_locations();
      - if (!empty($locations)):
        - $menu = wp_get_nav_menu_object( $locations[ $menu_name ] );
        - $menuitems = wp_get_nav_menu_items( $menu->term_id, array( 'order' => 'DESC' ) );
        ul.main-nav__items
          svg.main-nav__background
            use(xlink:href='#rect')
          - $first = true
          - foreach($menuitems as $item):
            - $classes='main-nav__item button button--inv'
            - if(str_replace('/', '', parse_url($item->url)['path']) == $wp->request):
              - $classes .=' active'
            - endif
            li(class=$classes)
              svg.main-nav__item__background
                use(xlink:href='#rect')
              a.link.main-nav__item__button.button__link(href='<?php echo $item->url ?>')
                - if ($first):
                  svg.button__icon
                    use(xlink:href='#home')
                  - $first = false
                - else:
                  = $item->title
                - endif;
          - endforeach
      - endif
