- if (have_posts()):
    - while (have_posts()):
        - the_post();
        - $thumb = wp_get_attachment_url( get_post_thumbnail_id($post->ID))
        - $classes = get_post_type()
        - if(!empty($thumb)):
            - $classes .= ' thumb'
        - endif
        include entry/content
    - endwhile
- else:
    include entry/error
- endif;
