- if (have_posts()):
  - while (have_posts()):
    - the_post();
    - $id = get_the_ID();
    - $meta = get_post_meta($id)
    - cdd($meta)

    - $type = reset($meta['fptc_type'])

    - $message = reset($meta['fptc_message'])
    - $length = 100

    - if (strlen($message)>$length):
      - $position = strpos($message, ' ', $length)
      - $message = substr($message,0,$position)
      - $message .= '...'
    - endif


    - $thumb = reset($meta['fptc_picture'])
    - $classes = get_post_type()
    - $classes .= ' ' . $type
    - if(!empty($thumb)):
      - $classes .= ' ' . 'thumb'
    - endif
    article.post.content-box__post.excerpt.excerpt--fb(class= '<?php echo $classes ?>')
      h3.title
        - echo $type
      p.text.excerpt__text.excerpt__text--story
        a.link(href='<?php echo reset($meta["fptc_link"]) ?>', target='_blank')
          - the_title()
      p.text.excerpt__text
        - echo $message
      - if($thumb):
        figure.thumbnail.excerpt__thumbnail(style='background-image: url(' + $thumb + ')')
          svg.thumbnail__frame.thumbnail__frame--fb
            use(xlink:href='#frame')
      - endif
  - endwhile
- endif
