ul.post-list
    - if (have_posts()):
        - while (have_posts()):
            - the_post();
            - $thumb = wp_get_attachment_url( get_post_thumbnail_id($post->ID))
            - $classes = get_post_type()
            - if(!empty($thumb)):
                - $classes .= ' thumb'
            - endif
            li.post.content-box__post.post-list__item(class= '<?php echo $classes ?>')
                - if($thumb = wp_get_attachment_url( get_post_thumbnail_id($post->ID))):
                    figure.thumbnail.excerpt__thumbnail(style='background-image: url('+ $thumb + ')')
                        svg.thumbnail__frame
                            use(xlink:href='#frame')
                - endif
                    a.post-list__item__link(href=esc_url( get_post_meta(get_the_ID(), 'rtc_guid', true )), target='_blank')
                        - the_title()
        - endwhile
    - endif

