body{
  font-family: @font-base;
  font-size: @base-font-size;
  letter-spacing: 0.01em;
}
.title{
  font-family: @font-title;
  font-size: @title-font-size-3;
  color: @first;
  & a {
    text-align: center;
    color: @first;
  }
  &--medium{
    font-size: @title-font-size-2;
  }
  &--hight{
    font-size: @title-font-size-1;
  }
  &--wrapper {
    margin: 0 1rem -2rem;
  }
}

.subtitle {
  text-align: center;
  color: @first;
  margin: 0;
}

.label {
  display: inline-block;
  color: @first;
  font-size: 1.2rem;
  text-align: center;
  width: 80%;
  margin: 20px 10% 0;
  padding: 0.1em;
  clear: both;
  &--facebook {
    color: @facebookText;
  }
  &--krizovatka {
    color: @krizovatka;
  }
}

a, strong {
  color: @first;
}

a:hover {
  text-decoration: underline;
}

