body{
  font-family: @font-base;
  font-size: @base-font-size;
  letter-spacing: 0.01em;
  line-height: 1.5em;
}

.title{
  font-family: @font-title;
  font-size: @title-font-size-3;
  color: @first;
  line-height: 1.5em;

  & a {
    text-align: center;
    color: @first;
  }

  &--medium{
    font-size: @title-font-size-2;
  }

  &--hight{
    font-size: @title-font-size-1;
  }

  &--wrapper {
    margin: 1rem 0;
  }
}

.subtitle {
  text-align: center;
  color: @first;
  margin: 0;
}

.label {
  display: block;
  color: @first;
  font-size: 1.2rem;
  text-align: center;
  padding: 0.1em;
  clear: both;
  z-index: 1;

  &--facebook {
    color: @facebookText;
  }

  &--krizovatka {
    color: @krizovatka;
  }
}

a, strong {
  color: @first;
}

a:hover {
  text-decoration: underline;
}
