body{
  font-family: @font-base;
  font-size: @base-font-size;
  letter-spacing: 0.03em;
}
.title{
  font-family: @font-skautbold;
  font-size: @title-font-size-3;
  & a {
    text-align: center;
    color: @first;
  }
  &--medium{
    font-size: @title-font-size-2;
  }
  &--hight{
    font-size: @title-font-size-1;
  }
}

.label {
  display: inline-block;
  color: @first;
  text-align: center;
  width: 80%;
  margin: 20px 10% 0;
  padding: 0.1em;
  border-top: solid @line @first;
  border-bottom: solid @line @first;
  clear: both;
  &--facebook {
    color: @facebookText;
    border-top: solid @line @facebookText;
    border-bottom: solid @line @facebookText;
  }
  &--krizovatka {
    color: @krizovatka;
    border-top: solid @line @krizovatka;
    border-bottom: solid @line @krizovatka;
  }
}