// Usefull variables
@gr: 1.61803;
@pi: 3.14159;

@line: 1px;

// Colors
@first: #255c9e;
@second: #87a1ae;
@third: #5d4716;
@fourth: #48651d;
@facebook: #6b96ca;
@facebookText: #365899;
@krizovatka: #d4d6b9;
@krizovatkaText: #92947b;
@text: #000;
@background: #f2e9cb;
@shadow: #fafafa;

@brand-first: black;
@brand-second: black;
@black: black;
@blank: white;

// Fonts
@font-skautbold: skautbold, serif;
@font-themix: themix, sans-serif;
@font-base: @font-themix;
@font-title: @font-skautbold;

@base-font-size: 16px;
@title-font-size-1: 3rem;
@title-font-size-2: 2.25rem;
@title-font-size-3: 1.4rem;
@title-font-size-3-aside: 1.4rem;

@padding-button: 0.6em 1.2em;
@margin-button: 0.1em 0.2em;
@margin-box: 80px;

