// Usefull variables
@gr: 1.61803;
@pi: 3.14159;

@line: 1px;

// Colors
@first: #627e77;
@second: #f5e9d2;
@third: #3e6fa5;
@facebookBackground: #eef6ff;
@facebookText: #365899;
@krizovatka: #d4d6b9;
@krizovatkaText: #92947b;
@text: #000;
@shadow: #fafafa;

@brand-first: black;
@brand-second: black;
@black: black;
@blank: white;

@radius: 10px;

// Fonts
@font-skautbold: skautbold, serif;
@font-themix: themix, sans-serif;
@font-base: @font-themix;
@font-title: @font-skautbold;

@base-font-size: 16px;
@title-font-size-1: 3rem;
@title-font-size-2: 2.25rem;
@title-font-size-3: 1.4rem;

@padding-button: 0.6em 1em;
@margin-button: 0.1em 0.2em;
@margin-box: 80px;

