{extends layouts/with-sidebar.latte}

{block main}
  <h1 class="title title--medium">Stránka, kterou hledáte, neexistuje.</h1>

	{var $Query = new WP_Query(array('post_type' => array('udalosti', 'post'), 'showposts' => 6))}
	{each $Query}
		{include parts/entry/content.latte Post => $Post}
	{/each}
