{extends layouts/with-sidebar.latte}

{block #main}
    {var $Query = new WP_Query(array('post_type' => array('udalosti', 'post'), 'showposts' => 6))}
    {each $Query}
        {var $thumb = wp_get_attachment_url( get_post_thumbnail_id($post->ID))}
        {var $classes = get_post_type()}
        {if !empty($thumb)}
            {var $classes .= ' thumb'}
        {/if}
        {include parts/entry/content.latte Post => $Post}
    {/each}
