.button {
  position: relative;
  margin: 0.5rem 0;
  cursor: pointer;
  &__background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    use {
      stroke: @first;
      fill: @first;
      transition: fill 300ms, stroke 300ms;
    }
  }
  &__link {
    position: relative;
    display: block;
    z-index: 5;
    color: @second;
    font-size: @mobilebutton-font-size;
    text-align: center;
    margin: 0;
    padding: 0.6em 1em;
    transition: color 300ms;
    cursor: pointer;
    use {
      stroke: @second;
      fill: none;
      transition: stroke 300ms;
    }
  }
  &__icon {
    width: 1.2rem;
    height: 1.2rem;
    margin: -0.2rem;
  }
  @media @media-m-min {
    &__link {
      font-size: @base-font-size;
    }
    &:hover & {
      &__link {
        color: @second;
        text-decoration: underline;
      }
      &__icon {
        fill: @second;
        use {
          stroke: @second;
        }
      }
    }
  }
  &--call {
    .button {
      &__background {
        use {
          fill: @third;
        }
      }
      &__link {
        color: @second;
      }
    }
  }
  &--inv {
    .button {
      &__link {
        color: @second;
      }
    }
    @media @media-m-min {
      &:hover .button {
        &__background {
          use {
            fill: @first;
            stroke: @first;
          }
        }
      }
    }
  }
  @media @media-m-min {
    margin: 0.1em 0.2em;
  }
}
