.button {
  position: relative;
  margin: @margin-button;
  cursor: pointer;
  &__background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    use {
      stroke: @first;
      fill: none;
      transition: fill 300ms, stroke 300ms;
    }
  }
  &__link {
    position: relative;
    display: block;
    z-index: 5;
    color: @first;
    text-align: center;
    margin: 0;
    padding: @padding-button;
    transition: color 300ms;
    cursor: pointer;
    use {
      stroke: @first;
      transition: stroke 300ms;
    }
  }
  &__icon {
    width: 1.2rem;
    height: 1.2rem;
    margin: -0.2rem;
  }
  &:hover & {
    &__background {
      use {
        fill: @first;
      }
    }
    &__link {
      color: @second;
      text-decoration: underline;
    }
    &__icon {
      fill: @second;
      use {
        stroke: @second;
      }
    }
  }
  &--call {
    .button {
      &__background {
        use {
          fill: @first;
        }
      }
      &__link {
        color: @second;
      }
    }
    &:hover .button {
      &__background {
        use {
          fill: @third;
          stroke: @third;
        }
      }
    }
  }
  &--inv {
    .button {
      &__background {
        use {
          fill: @second;
        }
      }
      &__link {
        color: @first;
      }
    }
    &:hover .button {
      &__background {
        use {
          fill: @third;
          stroke: @third;
        }
      }
    }
  }
  @media @media-m-min {
    margin: 0.1em 0.2em;
  }
}
