.content {
  padding: 1.6rem 0 1rem;
  margin: 1rem;
  text-align: right;
  &__thumbnail {
    width: 30vw;
    height: 30vw;
    margin: 0 1rem 0 0;
    float: left;
  }
  &__title {
    margin: 0;
    a {
      display: block;
      text-align: left;
    }
  }
  &__date {
    font-size: 0.8em;
    text-align: left;
    margin: 0;
  }
  &__excerpt {
    text-align: left;

    .single & {
      font-weight: bold;
    }

    p {
      margin: 0.2em 0;
      height: 100%;
    }
  }
  &__text {
    text-align: left;
    margin: 1em 0 0.5em;
  }
  &__button {
    display: inline-block;
  }
  &.krizovatka &__title a {
    color: @krizovatkaText;
    font-size: @base-font-size;
  }
  &.facebook &__title a {
    color: @facebookText;
    font-size: @base-font-size;
  }
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    &--shadow {
      z-index: -2;
      top: 1rem;
      left: 1rem;
      fill: @shadow;
      transform: rotate(180deg);
    }
  }

  &__subtitle {
    text-align: left;
    margin: -0.7rem 0 0;
  }

  &__icon {
    position: relative;
    top: 0.4rem;
    width: 1.5rem;
    height: 1.5rem;
    fill: @first;
  }

  .event & {
    &__title {
      margin: 0.5rem 0 0;
    }

    &__excerpt {
      width: 58%;
      height: 4rem;
      overflow: hidden;

    }

    &__button {
      float: right;
    }
  }
  @media @media-m-min {
    &__thumbnail {
      width: 20vw;
      height: 20vw;
    }
  }
  @media @media-l-min {
    &__thumbnail {
      width: 15vw;
      height: 15vw;
    }
  }
  @media @media-xl-min {
    &__thumbnail {
      width: 10vw;
      height: 10vw;
    }
  }
}