.excerpt{
  text-align: right;
  margin: 0 0 @margin-box 0;
  & *{
    text-align: left;
  }
  &__thumbnail{
    height: 180px;
  }
  &__title{
    margin: 1em 0 0;
    a{
      display: block;
      text-align: center;
    }
  }
  &__date{
    font-size: 0.8em;
    text-align: center;
    margin: 0;
  }
  &__text{
    text-align: left;
  }
  &__button{
    display: inline-block;
  }
}