.form {
  padding: 10px 5% 30px;
  &__background {
    use {
      fill: @second;
    }
  }
  &__title {
    text-align: center;
    margin-bottom: 0.1em;
  }
  &__label {
    display: block;
    color: @first;
    margin: 2em 0 0.2em;
  }
  &__input {
    background: @blank;
    width: 100%;
    padding: 0.5em 1rem;
    border: none;
    border-radius: @radius;
    font-size: 1.2rem;
    border: @blank solid 1px;
    &--title {
      font-size: @title-font-size-2;
    }
    &:focus {
      outline: none;
      border: @first solid 1px;
    }
  }
  &__button {
    background: none;
    margin: 1rem;
    border: none;
    .center(x);
  }
  &__close {
    position: absolute;
    top: 3rem;
    left: 3.4rem;
  }
}