.post-list {
  list-style: dot;
  text-align: left;
  padding: 1rem 1rem 1rem 3rem;
  &__item {
    &__link {
      color: @first;
    }
    &:hover {
      a {
        text-decoration: underline;
      }
    }
  }
}
